
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Variables*/
:root {
  --Black: #000;
  --LighterBlack: rgba(0, 0, 0, 0.75);
  --LigtherHover: rgba(0, 0, 0, 0.37);
  --White: #fff;
  --Gray: rgb(71, 71, 71);
  --PrimaryFont: 'Poppins', serif;
}

/*General*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: var(--PrimaryFont);
  margin: 0;
  padding: 0;
  color: var(--White);
}

#app {
  width: 100vw;
  height: 100vh;
  background-image: url("imgs/sleeping.png");
  background-position: center;
  background-size: cover;
  background-color: var(--Black);
}

/*Elementos*/

.game {
    display: flex;
}

.dark {
  filter: brightness(25%);
}

.box {
  font-size: 1.8rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  /*Center the text completely;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Botones*/
.button {
  color: var(--Black);
  background-color: var(--White);
  border: none;
  font-size: 1.5rem;
  padding: 1rem;
  width: auto; /*Original 40%*/
  cursor: pointer;
  user-select: none;
}

.button:hover {
  box-shadow: 0 0 0 1px var(--White);
  color: var(--White);
  background-color: var(--LigtherHover);
  transition: background-color .2s;
}

.lvl {
  display: none;
  background-color: var(--LighterBlack);
  padding: 3em;
}

#options {
  background-color: transparent;
}

#options li {
  list-style: none;
  cursor: pointer;
  padding: 1rem;
}

#options li:hover {
  text-decoration: underline;
}

.startscreen.box {
  /*Animación*/
  animation: startAnimation 3s;
}

.startscreen > h1 {
  margin: 0 0 3rem 0;
}

.visible {
  animation: startAnimation 1.5s;
}

@keyframes startAnimation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*Botón de reset en cualquier momento*/
.btn-sleep {
  position: absolute;
  right: 2rem;
  top: 2rem;
  user-select: none;
}

.sleep-message {
  display: none;
  position: absolute;
  right: 2.5rem;
  top: 7rem;
  background-color: var(--LighterBlack);
  font-size: 1.3rem;
  padding: 2rem;
}

.btn-sleep:hover + .sleep-message {
  display: block;
  animation: startAnimation .5s;
}

/*Clase para ajustar boton de Reset provisional*/
.btn-again {
  width: auto;
  user-select: none;
}

/*Clase para ajustar el boton de play a su original provisional*/
.btn-play {
  width: 40%;
}

/*Background music*/
.btn-music {
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  z-index: 3;
  border: none;
  left: 0.7rem;
  top: 0.7rem;
}

.btn-music:hover{
  /*stroke: var(--Gray);*/
  filter: brightness(50%);
}

#mute {
  display: block;
}

#sound {
  display: none;
}

/*ZZZ*/
.zzz {
  position: relative;
  left: 25%;
}

#z1 {
  animation: z1-animation 3s linear infinite alternate;
}
#z2 {
  animation: z2-animation 2s linear infinite alternate;
}
#z3{
  animation: z3-animation 2.5s linear infinite alternate;
}
/*Animaciones ZZZ*/
@keyframes z1-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(10px, -10px);
  }
}
@keyframes z2-animation {
  0% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(10px, 0px);
  }
}
@keyframes z3-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-7px, 10px);
  }
}

/*FAQ*/
.faq-button {
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 3;
  cursor: pointer;
  background-color: transparent;
  border: none;

}

.faq-button:hover {
  filter: brightness(50%);
}

.faq-box {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: 5;
  right: 2rem;
  top: 6rem;
  padding: 1.5rem;
  font-size: 1.3rem;
  display: none;
  max-width: 50%;
}

.faq {
  padding: 0 0 1rem 0;
}

.freepik-atribution {
  opacity: 30%;
}

.none {
  display: none;
}

/*MEDIA QUERIES*/

@media (max-width: 500px) {
  .box {
    text-align: center;
    font-size: 1.5rem;
  }
  .lvl {
    width: 80%;
  }
  .faq-box {
    max-width: 80%;
  }
}