* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

#app {
    width: 100vw;
    height: 100vh;
    background-image: url("./imgs/lvl1.png");
    background-position: center;
    background-size: cover;
    background-color: black;

}

.dark {
    filter: brightness(25%);
}

.box {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    /*Center the text complelety;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    color: black;
    background-color: white;
    border: none;
    padding: 0.5em;
    width: 40%;
    cursor: pointer;
}

.lvl {
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 3em;
    ;
}

